<div class="well">

  <div class="content__inner">
    <header class="content__title">
      <br>

      <h1>Crear/Editar - Notificaciones</h1>

      <div class="actions">
        <!--<a href="" class="actions__item zmdi zmdi-trending-up"></a>
                <a href="" class="actions__item zmdi zmdi-check-all"></a>-->

        <div class="dropdown actions__item">
          <i data-toggle="dropdown" class="zmdi zmdi-more-vert"></i>
          <div class="dropdown-menu dropdown-menu-right">
            <!-- <a href="" class="dropdown-item">Refresh</a>
            <a href="" class="dropdown-item">Manage Widgets</a>
            <a href="" class="dropdown-item">Settings</a> -->
          </div>
        </div>
      </div>
    </header>

    <div class="card">


      <div class="card-block">

        <br>


        <br>

        <!-- <h3 class="card-block__title">Tipo</h3>-->

        <br>

        <div class="row">
          <div class="col-sm-8">
            <label for="">Título</label>
            <div class="form-group ">
              <input type="text" class="form-control" required maxlength="50"  placeholder="Escribir..." [(ngModel)]="notificacion.titulo">
              <i class="form-group__bar"></i>
            </div>
          </div>



          <div class="col-sm-4">
            <label for="">Tipo</label>
            <div class="form-group">
              <select required class="form-control" [(ngModel)]="notificacion.tipo">
                <option value="" disabled selected>Seleccionar una opcion</option>
                <option value="Informativa">Informativa</option>
                <option value="Seguridad">Seguridad</option>

              </select>
            </div>

          </div>

          <!-- <div class="col-sm-6 col-md-4">
            <label for="">Condominio</label>
            <div class="form-group">
              <select required class="form-control" [(ngModel)]="notificacion.condominio">
                                <option value="" disabled selected>Seleccionar una opcion</option>
                                <option value="Opcion 1">Op1</option>
                                <option value="Opcion 2">Op2</option>
                                <option value="Opcion 3">Op3</option>
                                <option value="Opcion 4">Op4</option>
                              </select>
            </div>
          </div>
        -->
        </div>
        <br>

        <div class="form-group">
          <label for="">Mensaje</label>
          <textarea class="form-control" required maxlength="255" placeholder="Escribir máximo 255 caracteres..." [(ngModel)]="notificacion.mensaje"></textarea>
          <i class="form-group__bar"></i>
        </div>
        <br>

        <div class="input-group col-sm-6">
          <div class="form-group">
            <button class="btn btn-primary" (click)="guardarNotificacion()" *ngIf=" id == 'new' ">Guardar</button>
            <button class="btn btn-success" (click)="actualizarNotificacion()" *ngIf=" id != 'new' ">Actualizar</button>
            <a routerLink="/" class="btn btn-default">Cancelar</a>
          </div>
        </div>
        <br/>


      </div>

    </div>

  </div>
