<div class="well">
  <a routerLink="/">Inicio</a>

</div>
<br>
<br>


<div class="">


  <div class="input-group col-sm-6">

    <div class="form-group">
      <input type="text" class="form-control" required placeholder="Titulo" [(ngModel)]="notificacion.titulo">
      <i class="form-group__bar"></i>
    </div>
  </div>


  <br>
  <div class="input-group col-sm-6">

      <div class="form-group has-danger">
        <select required class="form-control" [(ngModel)]="notificacion.tipo">
          <option value="" disabled selected>Seleccionar una opcion</option>
          <option value="Opcion 1">Op1</option>
          <option value="Opcion 2">Op2</option>
          <option value="Opcion 3">Op3</option>
          <option value="Opcion 4">Op4</option>
        </select>
        <i class="form-group__bar"></i>
      </div>
    </div>
    <br>

  </div>
  <br>
  <br>

  <div class="input-group col-sm-6">

    <div class="form-group has-danger">
      <textarea required class="form-control form-control-danger" rows="5" placeholder="Mensaje..." [(ngModel)]="notificacion.mensaje"></textarea>
      <i class="form-group__bar"></i>
    </div>
  </div>
  <br>
  <br>

  <div class="input-group col-sm-6">

    <div class="form-group">
      <input required type="text" class="form-control" placeholder="Creador" [(ngModel)]="notificacion.creador">
      <i class="form-group__bar"></i>
    </div>
  </div>
  <br>
  <br>
  <hr>
  <div class="input-group col-sm-6">
    <div class="form-group">
      <button class="btn btn-primary" (click)="guardarNotificacion()">Guardar</button>
      <button class="btn btn-success" (click)="actualizarNotificacion()">Actualizar</button>
      <a routerLink="/" class="btn btn-default">Cancelar</a>
    </div>
  </div>
