<header class="content__title">

  <!-- BUSCADOR -->
  <div class="navegation_active chat__search">
    <div class="form-group">
      <input type="text" class="navigation__active form-control" placeholder="Buscar título de notificaión..."  [(ngModel)]='tituloFilter'>

      <div class="actions">
        <a routerLink="/new/new" class="navigation__active actions__item zmdi zmdi-plus" title="Agregar"></a>


        <div class="navigation__active dropdown actions__item" title="Estado">
          <i data-toggle="dropdown" class="zmdi zmdi-more-vert"></i>
          <div class="dropdown-menu dropdown-menu-right">
            <a href="" class="dropdown-item">click</a>
           <!-- <a href="" class="dropdown-item">Desactivados</a> -->
          </div>
        </div>
      </div>
      <i class="form-group__bar"></i>
    </div>
  </div>
  <h1>Notificaciones</h1>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo rerum corporis fugiat, necessitatibus quisquam saepe sint
    ipsum, distinctio eligendi tempora, quod sequi sunt repellat temporibus minus reiciendis amet laborum iusto. </p>
  <br>
  <br>

</header>



<div class="card-demo " *ngFor="let item of notificaciones | filtroNombreNotificacion : tituloFilter">
  <div class="card card">
    <!-- div class="card card card-outline-info" -->

    <div class="card-header">
      <h2 class="card-title"> {{item.titulo}}</h2>
      <small class="card-subtitle"> {{item.tipo}}</small>



      <div class="actions">
        <a routerLink="/new/{{item.id}}" class="actions__item zmdi zmdi-edit zmdi-hc-fw" title="Editar"></a>
       <a (click)="deleteNotification(item.id)" class="actions__item zmdi zmdi-delete zmdi-hc-fw" title="Editar"></a>
      </div>
    </div>

    <div class="card-block">
      <p>
        {{item.mensaje}}
      </p>

      <p>
        {{item.creador}}
      </p>
    </div>

  </div>
</div>


